body {
  background-color: var(--color-white);
  height: 100%;
  font-family: sans-serif;
}

.mainDiv {
  min-width: 1600px;
}

.title {
  font-family: var(--libre);
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--color-brown);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 0;
}

.table {
  width: 90%;
  margin: auto;
}

.p-column-title,
.image-text,
.p-column-filter {
  font-family: sans-serif;
}

.customer-badge {
  text-transform: uppercase;
  padding: 0.25em 0.5rem;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.status-general {
  background-color: #c8e6c9;
  color: #256029;
}

.status-ca-pg {
  background-color: #feedaf;
  color: #8a5340;
}

.certification-item {
  width: min-content;
}

.status-14-accompaniment {
  background-color: #ffcdd2;
  color: #c63737;
}

/* .modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.green-box {
  background-color: #88a2aa;
  padding: 1rem;
  border-radius: 5px;
}

.dialog-box-title {
  text-align: center;
  margin: 0;
  font-family: var(--libre);
  font-weight: 100;
}

.dialog-box-director {
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  font-family: sans-serif;
  font-weight: 600;
}

.dialog-box-cast {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.dialog-cast-title {
  font-family: var(--libre);
  margin: 0;
  font-size: 1.2rem;
}

.dialog-cast-member {
  background-color: var(--color-white);
  padding: 0.5rem;
  border-radius: 50px;
  margin: 3px 5px;
  font-family: var(--lora);
}

.dialog-box-genre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.6rem;
}

.dialog-box-plot {
  margin-top: 1rem;
}

.dialog-plot-text {
  margin: 0;
  margin-top: 0.5rem;
  font-family: var(--lora);
  line-height: 1.5rem;
}

.modal-footer {
  margin: 0;
  font-family: sans-serif;
}
