body {
  background-color: var(--color-white);
  height: 100%;
  font-family: var(--libre);
}

.title {
  font-family: var(--lora);
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--color-brown);
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.table {
  width: 90%;
  margin: auto;
}

.customer-badge {
  text-transform: uppercase;
  padding: 0.25em 0.5rem;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.status-general {
  background-color: #c8e6c9;
  color: #256029;
}

.status-ca-pg {
  background-color: #feedaf;
  color: #8a5340;
}

.status-14-accompaniment {
  background-color: #ffcdd2;
  color: #c63737;
}

.green-box {
  background-color: #88a2aa;
  padding: 1rem;
}

.dialog-box-title {
  text-align: center;
  margin: 0;
  font-family: var(--libre);
  font-weight: 100;
}

.dialog-box-director {
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  font-family: sans-serif;
  font-weight: 600;
}

.dialog-box-cast {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.dialog-cast-title {
  font-family: var(--libre);
  margin: 0;
}

.dialog-cast-member {
  background-color: var(--color-white);
  padding: 0.5rem;
  border-radius: 50px;
  margin: 3px 5px;
}
