html {
  --libre: "Libre Baskerville", serif;
  --lora: "Lora", serif;
  --color-white: #e6e6e9;
  --color-brown: #636366;
  --color-green: #88a2aa;
  --color-lightgreen: #c8e6c9;
  --color-pink: #ffcdd2;
  --color-yellow: #feedaf;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
